* {
	color: rgb(177, 169, 169);
}

body {
	position: relative;
	margin: 0px;
}

.main>img {
	position: absolute;
	filter: brightness(20%);
	z-index: -1;
	width: 100%;
	height: 100%;
}

.order {
	max-width: 1100px;
	margin: 0px auto;
	background-color: #151212e6;
	height: 100%;
	padding: 40px 30px 26px;
}

h1 {
	margin-top: 0px;
	font-size: 46px;
	text-align: center;
}

h2 {
	font-size: 28px;
	text-align: center;
}

label {
	font-family: 'Courier New', Courier, monospace;
}

.input {
	color: #151212f1;
	background-color: rgb(195, 186, 186);
	padding: 3px 10px;
	font-size: 16px;
	border-radius: 5px;
}

.count {
	width: 20px;
	height: 20px;
	text-align: center;
	margin: 0px;
	background-color: rgb(213, 202, 202);
	color: #2f2626ed;
	font-size: 15px;
	border: 2px #877e7eed solid;
}

.checkbox {
	width: 15px;
	height: 15px;
	margin: 0px;
}

.user {
	display: inline-block;
	width: 100px;
	font-size: 18px;
}

.choice {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
}

.container {
	display: flex;
	flex-direction: column;
	width: 300px;
	/* margin: 0 auto; */
}

.container>div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	margin-top: 5px;
}

.container label {
	max-width: 220px;
	text-align: center;
}

.price {
	margin-top: 20px;
	font-size: 24px;
}

.price>label {
	font-family: 'Times New Roman', Times, serif;
}

.price>span {
	font-weight: bold;
}

.btn {
	margin-top: 20px;
	font-size: 16px;
	padding: 10px 20px;
	border-radius: 5px;
	color: #151212f1;
	background-color: rgb(211, 205, 205);
}

.btn:hover {
	color: #0e0d0df1;
	background-color: rgb(184, 179, 179);
}

.btn:active {
	color: #0e0d0df1;
	background-color: rgb(184, 179, 179);
	border: 2px #827c7c solid;
}

.totalPrice {
	font-size: 26px;
	color: #ddd4d4;
}